{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>HotWheels - Home Buy Vechiles,Service Market Place</title>

    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
        <link rel="stylesheet" href="{% static 'css/thumbnails_bottom_center.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
			<script >
				function loadGoogleTranslate(){
				   new google.translate.TranslateElement("google_element");
				}
		</script>
    </head>
    <body>
    <!-- #header Start-->
          <header id="header">
              <div class="header-top bg-1">
                <div id="google_element" style="float: right;"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-xs-12 hide_column">
                            <div class="header-top-menu">
                                <!-- <ul>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">Community</a></li>
                                    <li><a href="sell_a_product.html">Become A Seller</a></li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-xs-12">
                            <div class="header-top-right text-right">
                                <ul class="account">	
                                    <li>
                                        <a href="#">
                                            <img src="{% static 'img/boogyman.png' %}" alt="">
                                            NAME  <span> {{user.first_name}}
                                            <i class="fa fa-angle-down"></i></span>
                                        </a>
                                        <ul class="profile">
                                            <li><a href="#">User Profile</a></li>
                                            <!-- <li><a href="#">Upload Products</a></li> -->
                                            <!-- <li><a href="#">Favourite Products</a></li> -->
                                            <!-- <li><a href="#">Change Password</a></li> -->
                                            <li><a href="{% url 'shopping_cart' %}">Manage Products</a></li>
                                            <!-- <li><a href="#">Notifications</a></li> -->
                                            <!-- <li><a href="#">Messages</a></li> -->
                                            <li><a href="{% url 'shopping_cart' %}">Shopping Cart</a></li>
                                            <!-- <li><a href="#">Withdraw</a></li> -->
                                            <li><a href="{% url 'logout' %}">Sign Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- <ul class="notification_icons">
                                    <li>
                                        <a href="#"><i class="fa fa-bell-o"></i><span class="number">11</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i><span class="number">5</span></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-basket"></i>
                                        </a>
                                    </li> 

                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row align-items-center d-flex">
                        <div class="col-lg-2 col-md-2">
                            <div id="logo">
                                <a href="index.html"><img src="#" alt="" /></a>
                            </div>
                        </div>
                           <div class="col-lg-10 col-md-2">				
                          <nav id="nav-menu-container">
                            <ul class="nav-menu float-right">
                              <li class="menu-has-children"><a href="{% url 'index' %}">Home</a>
                              </li>
                              <li class="menu-has-children"><a href="">Pages</a>
                                <ul>
                                    <li><a href="">Product Listing</a></li>
                                    <li><a href="">Product Listing Detail</a></li>
                                    <!-- <li><a href="search.html">search</a></li> -->
                                    <!-- <li><a href="upload_products.html">Upload Products</a></li> -->
                                    <!-- <li><a href="favourite_products.html">Favourite Products</a></li> -->
                                    <li><a href="">Signin Page</a></li>
                                    <li><a href="">Signup Page</a></li>					
                                    <li><a href="">Terms & Conditions</a></li>
                                    <li><a href="">Privacy Policy</a></li>
                                    <li><a href="">404 Page</a></li>
                                </ul>
                              </li>
                              <!-- <li class="menu-has-children"><a href="#">About</a> -->
                                <!-- about_us.html -->
                              </li>  
                              <!-- <li class="menu-has-children"><a href="#">Services</a> -->
                                <!-- services.html -->
                              </li>
                              <!-- <li class="menu-has-children"><a href="#">Blog</a> -->
                                <!-- blog_home.html -->
                                  <ul>
                                    <li><a href="#">Blog Page</a></li>
                                    <!-- blog_home.html -->
                                    <li><a href="#">Blog Detail</a></li>
                                    <!-- blog_single.html -->
                                </ul>
                              </li>
                              
                              <!-- <li class="menu-has-children"><a href="contact.html">Contact</a></li> -->
                              <!-- <li class="menu-has-children"><a href="#" class="rounded ml-3 text-white sell-btn">My Cart</a> -->
                              </li>			        	          
                            </ul>
                          </nav><!-- #nav-menu-container -->
                      </div>	    		
                    </div>
                </div>
            </div>
          </header><!-- #header -->
        

        <!-- start banner Area -->
        <section class="banner-area relative">	
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            Product Listing	Detail
                        </h1>	
                        <p class="text-white link-nav"><a href="{% url 'index' %}">Home </a>  <span class="lnr lnr-arrow-right"></span> <a href="{% url 'product_listing' %}"> Product Listing</a> <span class="lnr lnr-arrow-right"></span> Product Listing detail</p>
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->	
        <section class="item-product-area">
            
            <div class="container">
                <h1 style="text-align: center;">Car Recommendations</h1><br>
            <div class="row">
                {% for i in recommendcardetalis %}
                <div class="col-sm-4 card">
                  
                    
                    <img src="{{i.image.url}}" class="card-img-top" alt="pic of the car">
                      <h5 class="card-title">{{i.carname}}</h5>
                      <p class="card-text">₹ {{i.price}}</p>
                      <p class="card-text">Rating {{i.average_rating}}</p>
                      <a href="/product_listing_detail/{{i.id}}" class="btn btn-info btn-sm">More</a>
                    
                  
                </div>
                {% endfor %}
              </div>
            </div>
              
        </section>
        
        <!-- Start item detail Area -->
        <section class="blog-posts-area pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-sm-2 post-list blog-post-list-2">
                        <div class="single-post">
                            <!-- Slider -->
                            <div id="slider_05" class="carousel slide thumb_btm_cntr thumb_scroll_x swipe_x ps_ease" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="1000">

                                <!-- Indicators -->
                                <ol class="carousel-indicators ps_indicators_thumb ps_indicators_bottom_center">
                                    <!-- 1st Indicator -->
                                    <li data-target="#slider_05" data-slide-to="0" class="active">
                                        <!-- 1st Indicator Image -->
                                        <img src="{{CARDETAILS.image1.url}}" alt="item_slider.jpg" />
                                    </li>
                                    <!-- 2nd Indicator -->
                                    <li data-target="#slider_05" data-slide-to="1">
                                        <!-- 2nd Indicator Image -->
                                        <img src="{{CARDETAILS.image2.url}}" alt="item_slider.jpg" />
                                    </li>
                                    <!-- 3rd Indicator -->
                                    <li data-target="#slider_05" data-slide-to="2">
                                        <!-- 3rd Indicator Image -->
                                        <img src="{{CARDETAILS.image3.url}}" alt="item_slider.jpg" />
                                    </li>
                                </ol>

                                <!-- Wrapper For Slides -->
                                <div class="carousel-inner" role="listbox">

                                    <!-- First Slide -->
                                    <div class="carousel-item active">
                                        <!-- Slide Background -->
                                        <img src="{{CARDETAILS.image1.url}}" alt="item_slider.jpg" />
                                    </div>
                                    <!-- End of Slide -->

                                    <!-- Second Slide -->
                                    <div class="carousel-item">
                                        <!-- Slide Background -->
                                        <img src="{{CARDETAILS.image2.url}}" alt="item_slider.jpg" />
                                    </div>
                                    <!-- End of Slide -->

                                    <!-- Third Slide -->
                                    <div class="carousel-item">
                                        <!-- Slide Background -->
                                        <img src="{{CARDETAILS.image3.url}}" alt="item_slider.jpg" />
                                    </div>
                                    <!-- End of Slide -->

                                </div> <!-- End of Wrapper For Slides -->

                            </div> <!-- End Slider -->

                            <div class="content-wrap">
                                <h2>
                                    About {{CARDETAILS.car_company}} {{CARDETAILS.car_name}} :
                                </h2>
                                <p>
                                    read here add fld in db
                                </p>

                                <blockquote class="generic-blockquote mt-3">
                                    qoutes add fld in db
                                </blockquote>
                                <p>
                                    read here add fld in db
                                </p>		
                            </div>

                            <!-- Nav tabs -->
                          <ul class="nav nav-tabs general">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#info">General Information</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#info1">Features & Options</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#info2">Vehicle Overview</a>
                            </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div id="info" class="container tab-pane active"><br>
                               <h3 class="">{{CARDETAILS.car_company}} {{CARDETAILS.car_name}}</h3><br>
                               <p class="">add fld in db</p><br>
                               <p class="">add fld in db</p>
                            </div>
                            <div id="info1" class="container tab-pane fade"><br>
                              <h3 class="">Features</h3><br>
                              <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Air Conditioning</th>
                                      <th>Yes</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th>Alloy wheels</th>
                                      <td>Yes</td>
                                    </tr>
                                    <tr>
                                      <th>Anti-Lock Brakes (ABS)</th>
                                      <td>Yes</td>
                                    </tr>
                                    <tr>
                                      <th>Anti-Theft</th>
                                      <td colspan="1">Yes</td>
                                    </tr>
                                    <tr>
                                      <th>Anti-Starter</th>
                                      <td colspan="1">Yes</td>
                                    </tr>
                                    <tr>
                                      <th>Alloy Wheels</th>
                                      <td colspan="1">Yes</td>
                                    </tr>
                                    <tr>
                                      <th>Security System</th>
                                      <td colspan="1">Yes</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div id="info2" class="container tab-pane fade">
                                 <h4>
                                    {{CARDETAILS.car_company}} {{CARDETAILS.car_name}} {{CARDETAILS.car_type}}
                                </h4>

                                <p>
                                   add db here
                                </p><br>  
                               
                                <p>
                                    add db here
                                </p><br> 
                                
                                <p>
                                   add db here
                                </p>                                                                                                                                                            
                            </div>
                          </div>  
                            <div class="bottom-meta">
                                <div class="user-details row align-items-center">
                                    <div class="social-wrap col-lg-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12">
                                                <h4>HotWheels</h4><br>
                                            </div>
                                            <div class="col-md-10 col-12">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>	
                                    </div>
                                </div>
                            </div>

                        <!-- Start nav Area -->
                        <!-- <section class="nav-area">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-sm-6 nav-left justify-content-start d-flex">
                                        <div class="thumb">
                                            <img class="img-fluid" src="{% static 'img/icon1.png' %}" alt="">
                                        </div>
                                        <div class="post-details">
                                            <p>Prev Post</p>
                                            <h4 class="text-uppercase"><a href="#">Ferrari Hyundai</a></h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 nav-right justify-content-end d-flex">
                                        <div class="post-details">
                                            <p>Prev Post</p>
                                            <h4 class="text-uppercase"><a href="#">Nissan JR</a></h4>
                                        </div>             
                                        <div class="thumb">
                                            <img class="img-fluid" src="{% static 'img/icon2.png' %}" alt="">
                                        </div>                         
                                    </div>
                                </div>
                            </div>    
                        </section> -->
                        <!-- End nav Area -->
                        
                        <!-- Nav tabs -->
                          <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#home">Comments (0)</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#menu2">Items FAQ</a>
                            </li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div id="home" class="container tab-pane active"><br>
                                <h1>Under Maintenance</h1>
                               <div class="comment-sec-area">
                                    <div class="comment-list">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="" alt=""><p>Photo</p>
                                                </div>
                                                <div class="desc">
                                                    <h5><a href="#">Name</a></h5>
                                                    <p class="date">Date</p>
                                                    <p class="comment">
                                                        Comment!
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="reply-btn">
                                                   <a href="" class="btn-reply text-uppercase">reply</a> 
                                            </div>
                                        </div>
                                    </div>                                                                                                                                                             
                                </div>
                            </div>
                            <div id="menu2" class="container tab-pane fade">
                                 <h4>
                                    Read Before Buying
                                </h4>

                                <p>
                                    db add
                                </p><br>  
                                <h4>
                                    Our Return Policy
                                </h4>

                                <p>
                                    db add
                                </p><br> 
                                <h4>
                                    Shipping and Delivery
                                </h4>

                                <p>
                                    db add
                                </p>                                                                                                                                                            
                            </div>
                          </div>
                        
                        <!-- Start commentform Area -->
                        <section class="commentform-area">
                            <div class="container">
                                <h5 class="pb-50">Leave a Reply (Under Maintenance)</h5>
                                <div class="row flex-row d-flex">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">

                                    </div>
                                    <div class="col-lg-8 col-md-6">
                                        <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                        <a class="primary-btn mt-20" href="#">Comment</a>
                                    </div>
                                </div>
                            </div>    
                        </section>
                        <!-- End commentform Area -->


                        </div>																		
                    </div>
                    <div class="col-lg-3 sidebar-2 order-sm-1">
                        <div class="item-widget">
                            <h1>Car Price</h1>		
                            <hr class="line-separator">
                            <div class="row mt-4 mb-4">
                                <div class="col-md-5 col-6 pt-1">
                                    <h3>₹<small>{{CARDETAILS.price}}</small></h3>
                                </div>
                                <div class="col-md-7 col-6">
                                    <!-- <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Regular
                                        </button>
                                        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item" href="#">Extended</a>
                                            <a class="dropdown-item" href="#">Regular</a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success contact btn-block" data-toggle="modal" data-target="#exampleModalCenter"><i class="lnr lnr-envelope"></i>
                              Contact HotWheels
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title text-white" id="exampleModalLongTitle">Contact HotWheels</h4>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" placeholder="Full Name" id="recipient-name">
                                      </div>
                                      <div class="form-group">
                                        <label for="recipient-email" class="col-form-label">Email:</label>
                                        <input type="text" class="form-control" placeholder="Email" id="recipient-email">
                                      </div>
                                      <div class="form-group">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea rows="4" class="form-control" id="message-text"></textarea>
                                      </div>
                                    </form> 
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-success">Send</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <a href="" class="btn btn-primary btn-block"><i class="lnr lnr-heart"></i> Add to Favourites</a>
                            <a href="/addaccessories/{{CARDETAILS.id}}" class="btn btn-danger btn-block"> Book Now</a>
                            <a href="/testdrive_booking/{{CARDETAILS.id}}" class="btn btn-danger btn-block"> Book For Test Drive</a>

                        </div>

                        <div class="item-info-widget">
                            <h1>Car Information</h1>
                            <hr class="line-separator">
                            <ul>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Mileage :</h6> <span>{{CARDETAILS.fuel_efficiency}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fuel Tank Capacity :</h6> <span>{{CARDETAILS.fuel_tank_capacity}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Suspension Type Front:</h6> <span>{{CARDETAILS.rear_suspension}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Suspension Type Rear:</h6> <span>{{CARDETAILS.rear_suspension}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Front Brake Type :</h6> <span>{{CARDETAILS.front_brake}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Rear Brake Type :</h6> <span>{{CARDETAILS.rear_brake}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Ground Clearance In mm :</h6> <span>{{CARDETAILS.ground_clearance}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Total Seat :</h6> <span>{{CARDETAILS.seating_capacity}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Type Of Trasmission :</h6> <span>{{CARDETAILS.trasmission}}</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Engine CC Of Car :</h6> <span>{{CARDETAILS.engine_cc}}</span></a></li>
                            </ul>
                            <p class="tags primary"><a href="#">Security</a>, <a href="#">Air conditioning</a>, <a href="#">icon</a>, <a href="#">Anti theft</a>, <a href="#">antistarter</a>, <a href="#">Hyundai</a>, <a href="#">Alloy wheels</a>, <a href="#">scene</a>, <a href="#">Electric</a>, <a href="#">Remote control</a>, <a href="#">Make</a>, <a href="#">Power</a>, <a href="#">Air bag</a>, <a href="#">Driver</a>, <a href="#">Registration</a></p>
                        </div>

                        <div class="sale-widget">
                            <ul>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6><i class="lnr lnr-smile"></i> Total Sales:</h6> <span>0</span></a></li>
                                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6><i class="lnr lnr-heart"></i> Favourites:</h6> <span>0</span></a></li>
                            </ul>
                                                          
                        </div>

                        <div class="profile-widget">
                            <h1>HotWheels</h1> 
                            <hr class="line-separator">
                            <img src="{% static 'img/HotWheels.png' %}" alt="profile_widget_img">
                            <h5>HotWheels</h5>
                            <p>HotWheels , India</p>
                            <ul class="share_link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>	
                            <a href="" class="btn btn-primary btn-block">Profile Page</a>
                            <a href="" class="btn btn-success btn-block">Send Private Message</a>							
                        </div>

                        <div class="more-widget mb-5">
                            <h1>Advertisement(Under Maintenance)</h1>
                            <div class="gp_products_item mt-3">
                                <div class="gp_products_inner">
                                    <div class="gp_products_item_image">
                                        <a href="#">
                                            <img src="" alt="gp product 001" />
                                        </a>
                                    </div>
                                    <div class="gp_products_item_caption">
                                        <p style="margin: 23%;">HotWheels</p>
                                    </div>
                                </div>
                            </div>
                        </div>		
                    </div>
                </div>
            </div>	
        </section>
        <!-- End item detail Area --> 
    
        <!-- start footer Area -->		
        <footer class="footer-area footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-3 col-sm-6">
                        <div class="single-footer-widget newsletter">
                            <img class="w-50 img-fluid mb-3" src="#" alt="">
                            <p>HotWheels.</p>
                            <ul class="social-footer">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Useful Links</h6>
                            <ul class="footer-nav">
                                <li><a href="">Change</a></li>
                                <li><a href="">Replacement</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Pre-Purchase</a></li>
                                <li><a href="">Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Our Service</h6>
                            <ul class="footer-nav">
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                                <li><a href="">Support</a></li>
                                <li><a href="">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">Keep In Touch</h6>
                            <ul class="footer-nav">
                                <li>
                                <strong><i class="fa fa-map-marker"></i></strong><span class="pl-2">1111 Nnn Nnn, Nnn Nnn</span>
                                </li>
                                <li>
                                <strong><i class="fa fa-mobile"></i></strong><span class="pl-2">+00 00 000 000</span>
                                </li>
                                <li>
                                <strong><i class="fa fa-envelope-o"></i></strong><span class="pl-2"><a href="#">ex@example.com</a></span>
                                </li>
                            </ul>
                            <div class="section_form">
                                    <div class="col-auto">
                                      <div class="input-group mb-2">
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Your Email">
                                         <div class="input-group-prepend">
                                          <div class="input-group-text"><i class="fa fa-paper-plane"></i></div>
                                        </div>
                                      </div>
                                    </div>  
                                </div>
                        </div>
                    </div>						
                </div>	
            </div>
        </footer>
        <div class="copyright1">
            <div class="container">
                <div class="row"> 
                    <div class="col-md-6 col-sm-6">
                        <div class="bottom_footer_info">
                            <span>&copy;Copyright All rights reserved &copy;<script>document.write(new Date().getFullYear())</script> HotWheels</span>
                            <!-- <p> &copy; Copyright 2023. All rights reserved</p> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="bottom_footer_logo">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#">Privacy policy &nbsp;|</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">Terms And Condition &nbsp;|</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End footer Area --> 	   	

        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        
          <script src="{% static 'js/easing.min.js' %}"></script>			
        <script src="{% static 'js/hoverIntent.js' %}"></script>
        <script src="{% static 'js/superfish.min.js' %}"></script>	
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>			
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
        <script src="{% static 'js/parallax.min.js' %}"></script>		
        <script src="{% static 'js/mail-script.js' %}"></script>	 
        <script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
        <script src="{% static 'js/bootstrap_carousel_types.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>	
    </body>
</html>
